
  .Game{
        text-align: center;
        overscroll-behavior: none; 
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .game-explanation {
    color: #776e65;
  }
  
  .score-container,
  .best-container {
    position: relative;
    display: block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
  }
  
  .score-container:after,
  .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
  }
  
  .score-container:after {
    content: "Score";
  }
  
  .best-container:after{
    content: "HighScore";
  }